.main {
	height: 100vh;
}

.cardContainer {
	display: flex;
	justify-content: center;
	position: relative;
	flex-basis: 75%;
	height: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	inset: 0;
	background-color: var(--color-background--light);
	visibility: hidden;
	height: 100%;
}

.cardActive {
	position: relative;
	z-index:  50;
	visibility: visible;
}

.cardImage {
	min-height: 0;
	flex-basis: 50%;
}