.main {
	
}

.cardContainer {
	--card-speed: .5s;
	position: relative;
	flex-basis: 50%;
	height: 85vh;
	transform-style: preserve-3d;
	perspective: 100em;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	inset: 0;
	background-color: var(--color-background--light);
	height: 100%;
	padding-inline: 0.5em;
	visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

/* Backface of the card*/
.card::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: inherit;
	transform: rotateX(180deg);
	backface-visibility: hidden;
}

.cardImage {
	/* https://stackoverflow.com/questions/36230944/prevent-flex-items-from-overflowing-a-container*/
	min-height: 0;
	flex-basis: 50%;
}

.cardText {
	text-align: center;
}

.cardLink {
	transform: initial!important;
}
/* Animations*/

.cardDownDisappear {
	animation: cardDownDisappear var(--card-speed);
}

.cardUpAppear {
	animation: cardUpAppear var(--card-speed) var(--card-speed) forwards;
}

.cardDownAppear {
	animation: cardDownAppear var(--card-speed) var(--card-speed) forwards;
}

.cardUpDisappear {
	animation: cardUpDisappear var(--card-speed);
}

@keyframes cardDownDisappear {
	to {
		transform: rotateX(-180deg);
		visibility: visible;
		z-index: 0;
	}
}

@keyframes cardUpAppear {
	from {
		transform: rotateX(-180deg);
	}
	to {
		transform: rotateX(-360deg);
		visibility: visible;
		z-index: 50;
	}
}

@keyframes cardDownAppear {
	from {
		transform: rotateX(180deg);
	}
	to {
		transform: rotateX(360deg);
		visibility: visible;
		z-index: 50;
	}
}

@keyframes cardUpDisappear {
	to {
		transform: rotateX(180deg);
		visibility: visible;
		z-index: 0;
	}
}