.main {
	
}

.cardContainer {
	display: flex;
	justify-content: center;
	position: relative;
	flex-basis: 75%;
	height: 90vh;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	inset: 0;
	background-color: var(--color-background--light);
	visibility: hidden;
	height: 100%;
	padding-inline: 0.5em;
}

.cardActive {
	position: relative;
	z-index:  50;
	visibility: visible;
}

.cardImage {
	min-height: 0;
	flex-basis: 50%;
}

.cardText {
	text-align: center;
}