.content {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 5;
	padding: 1em;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: max(1.2rem, 1vw);
	background: var(--color-background--dark);
}

.logo {
	display:  flex;
	align-items: center;
	column-gap: 1em;
	flex-grow: 1;
	color: var(--color-white);
}

.logo:hover,
.logo:focus {
	text-decoration: none;
}

/* Line animation onhover*/

.logo:before {
	content: "";
	background: var(--color-secondary);
	--distance: 0.5em;
	width: 0.1em;
	height: calc(1em + var(--distance));
	transform: scaleY(0);
	transition: transform 0.3s;
}

.logo:is(:hover, :focus):before {
	transform: scaleY(1);
}

.list {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.link {
	color: var(--color-primary);
	padding: 0.5em;
}

.link:hover,
.link:focus {
	text-decoration: underline;
}

.linkActive {
	background: var(--color-background--light);
	border-radius: 5%;
}

.toggler {
	display: none;
}
@media (max-width: 55em) {
	.content {
		flex-direction: column;
		left: unset;
		min-height: 100vh;
		/* Make nav bar invisible*/
		opacity: 0;
		pointer-events: none;
		transform: translateX(50%);
		transition: transform 1s, opacity 1s;
	}

	.contentActive {
		opacity: 1;
		transform: translateX(0);
		pointer-events: auto;
	}

	.list {
		flex-direction: column;
	}

	.logo {
		/* For correct vertical alignment*/
		column-gap: 0;
	}

	/* Nav togglling*/
	.toggler {
		display: inline-block;
		position: fixed;
		top: 1em;
		right: 1em;
		z-index: 10;
		/* Remove default button styles*/
		background: transparent;
		border: none;
		cursor: pointer;
	}
	
	.svg {
		width: 5em;
	}

	.svg > line {
		stroke: var(--color-white);
	}
}