.header {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	mix-blend-mode: hard-light;
	background-color: var(--color-background);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.header__title {
	display: inline-block;
	margin: auto;
	padding: 1em;
	font-size: 3rem;
	display: inline-block;
	transform: perspective(1em) rotateX(3deg);
	box-shadow: 0 0 0.1em 0.1em var(--color-primary);
}